# Supabase Configuration
SUPABASE_URL=https://oacqvijuafuzsbyyqdtt.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9hY3F2aWp1YWZ1enNieXlxZHR0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzExMDEyMTUsImV4cCI6MjA4NjY3NzIxNX0.yrV5zbAeBRzgWT4-tTLs30C_pLkmiJIxf8ldklKje5g
VITE_SUPABASE_URL=https://oacqvijuafuzsbyyqdtt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9hY3F2aWp1YWZ1enNieXlxZHR0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzExMDEyMTUsImV4cCI6MjA4NjY3NzIxNX0.yrV5zbAeBRzgWT4-tTLs30C_pLkmiJIxf8ldklKje5g
